# dir
bin/
build/
.vscode/
.vs/
/bin/Log/
/bin/*/components/
/bin/*/imageformats/
/bin/*/lib/
/bin/*/mediasdk/
/bin/*/Microsoft.VC90.CRT/
/bin/*/tmp/
/bin/*/resource/
/bin/*/videosdk/
/build/logs/
/depends/
/sdk/
/shadow/
/dist/
/packages/channel/bizchannel/debug/
/packages/channel/bizchannel/release/
/packages/channel/channellogic/debug/
/packages/channel/channellogic/release/
/packages/channel/yyplugin/debug/
/packages/channel/yyplugin/release/
/packages/ext/*/debug/
/packages/ext/*/debug_static/
/packages/ext/*/release/
/packages/ext/*/release_static/
/packages/framework/*/debug/
/packages/framework/*/release/
/packages/framework/tools/**/debug/
/packages/framework/tools/**/release/
/packages/imgroup/*/debug/
/packages/imgroup/*/release/
/packages/mainframe/*/debug/
/packages/mainframe/*/release/
/packages/misc/*/debug/
/packages/misc/*/release/
/packages/test/*/debug/
/packages/test/*/release/
/packages/tools/setupV2/bin/
/packages/tools/setupV2/bin/
/packages/tools/setupV2/src/framework/lib/
/packages/tools/setupV2/src/install/debug/
/packages/tools/setupV2/src/install/release/
/packages/version/*/debug/
/packages/version/*/release/
/packages/yyapp/*/debug/
/packages/yyapp/*/release/
/packages/yywidgets/*/debug/
/packages/yywidgets/*/release/
/packages/tools/**/debug/
/packages/tools/**/release/


# vsfiles
*.vcproj
*.vcproj.user
*.vcproj.*.user
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.vcxproj
*.sln
*.proj
*.pdb
*.idb
*.obj
stable.h.cpp
stdafx.h.cpp
*.ncb
*.suo
*.pyc
*.ipch
*.sdf
*.opensdf
*.aps
*.pch
*.res
*.rcc
*.lastbuildstate
*.hint

*.scss.d.ts
*.sass.d.ts
*.css.d.ts

*.tlog
*.log
moc_*.cpp
qrc_*.cpp

/bin/*/*.dll
/bin/*/*.lib
/bin/*/*.exp
/bin/*/*.pdb
/bin/*/*.exe
/bin/*/*.xml
/bin/*/*.ilk
/bin/*/qmake2_vs2015.py
/bin/*/qtvars.bat
/bin/*/ReleaseNotes.txt
/bin/*/config/local.config
/bin/*/lang/zh-CN.qm
qmake2.py
qt4.props
qt4.targets
qt4.xml